*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bir{
    justify-content: space-around;
    display: flex;
}
h1{
    text-align: center;
}
.left{
    background-color: red;
    width: 200px;
    height: 200px;
}
.right{
    background-color: red;
    width: 200px;
    height: 200px;
}
.opshiy{
    display: flex;
    justify-content: space-around;
}